.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* position: relative;
    left: 32em; */
    align-items: center;
    margin-top: 100px;
    padding-left: 4em;
    background: #e7d2d2;
    padding-bottom: 30px;
    max-width: 550px;
    width: 100%
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.text {
    color: #11124e;
    font-size: 48px;
    font-weight: 700;

}

.underline {
    width: 81px;
    height: 8px;
    background: #a50727;
    border-radius: 10px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 30em;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;


}

.input img {
    margin: 0px 30px;

}

.input input {
    height: 50px;
    max-width: 380px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    /* margin: auto auto; */

}

.forgot-password {
    padding-left: 63px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}

.gray {
    background-color: #eaeaea;
    color: #676767
}

@media screen and (max-width: 800px) {
    .input {
        max-width: 300px;
    }
}

/* When the screen width is 600px or less */
@media screen and (max-width: 600px) {
    .input {
        max-width: 200px;
    }
}

/* When the screen width is 400px or less */
@media screen and (max-width: 400px) {
    .input {
        max-width: 100px;
    }
}

@media screen and (max-width: 370px) {
    .input {
        max-width: 50px;
    }
}

@media screen and (max-width: 380px) {
    .input input {
        max-width: 50px;
    }
}

@media screen and (max-width: 280px) {
    .input input {
        max-width: 170px;
    }
}

@media screen and (max-width: 500px) {
    .input input {
        max-width: 170px;
    }

    .input input::placeholder {
        color: transparent;
    }
}

@media screen and (max-width: 550px) {
    .container {
        max-width: 280px;
        margin-left: auto;
    }
}

@media screen and (max-width: 550px) {
    .submit-container {
        display: block;
        align-items: normal;

        div+div {
            margin-top: 1.2em;
        }
    }

    .forgot-password {
        display: none;
    }
}